:root {
  --main-background:  hsl(185, 41%, 84%);
  --input-background: hsl(180, 14%, 95%);
  --input-neutral: hsl(183, 100%, 15%);
  --input-selected: hsl(172, 67%, 45%);
  --label-color: hsl(186, 14%, 43%);

  --site-font: 'Space Mono', monospace;
  --input-font-size: 24px;
}

.App {
  background-color: var(--main-background);
  font-family: var(--site-font);
}

.centered{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.user-input-container {
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;

}

label {
  color: var(--label-color);
  font-size: 0.85rem;
}

.bill-input-container {
  display: flex;
  flex-direction: column;

}

#billamount {
  background: url(./images/icon-dollar.svg) no-repeat left;
  background-position: 7px 7px;
  background-color: var(--input-background);
}



input {
  border: none;
  background-color: var(--input-background);
  height: 2rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  text-align: right;
  font-family: var(--site-font);
  font-size: 20px;
  color: var(--input-neutral);
  padding-right: 0.75rem;
}

.tip-header {
  font-size: 0.85rem;
  color: var(--label-color);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.tip-input-container {
  display: flex;
  justify-content: center;
  
}

.left-column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 1rem;
  
}

.right-column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tip-btn {
  height: 2.25rem;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--input-neutral);
  color: white;
  font-family: var(--site-font);
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.tip-btn:focus {
  background-color: var(--input-selected);
  color: var(--input-neutral);
}

.btn-custom {
  background-color: var(--input-background);
  color: var(--input-neutral);
}

.people-input-container {
  display: flex;
  flex-direction: column;
}

#people-num {
  background: url(./images/icon-person.svg) no-repeat;
  background-color: var(--input-background);
  background-position: 7px 7px;
}



