:root {
  --main-background:  hsl(185, 41%, 84%);
  --input-background: hsl(180, 14%, 95%);
  --input-neutral: hsl(183, 100%, 15%);
  --input-selected: hsl(172, 67%, 45%);
  --label-color: hsl(186, 14%, 43%);

  --site-font: 'Space Mono', monospace;
  --input-font-size: 24px;
}

.App {
  font-family: var(--site-font);
}

.logo-container {
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}


.user-input-container {
  background-color: white;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  top: -10px;
}

label {
  color: var(--label-color);
  font-size: 0.85rem;
}

.bill-input-container {
  display: flex;
  flex-direction: column;
}

#billamount {
  background: url(./images/icon-dollar.svg) no-repeat left;
  background-position: 7px 7px;
  background-color: var(--input-background);
}

#bill-input-box {
  display: flex;
  justify-content: space-between;
}

#people-input-box {
  display: flex;
  justify-content: space-between;
}


input {
  border: none;
  background-color: var(--input-background);
  height: 2rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  text-align: right;
  font-family: var(--site-font);
  font-size: 20px;
  color: var(--input-neutral);
  padding-right: 0.75rem;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.custom-focus {
  border: solid 2px hsl(172, 67%, 45%);
}

.tip-header {
  font-size: 0.85rem;
  color: var(--label-color);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.tip-input-container-mobile {
  display: flex;
  justify-content: center;
  
}

.tip-input-container-desktop {
  display: none;
}

.left-column-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 50%;
}

.right-column-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tip-btn {
  height: 2.25rem;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--input-neutral);
  color: white;
  font-family: var(--site-font);
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.button-focus {
  background-color: var(--input-selected);
  color: var(--input-neutral);
}

.btn-custom {
  all: initial;
  background-color: var(--input-background);
  color: var(--input-neutral);
  text-align: center;
  height: 2.25rem;
  font-family: var(--site-font);
  font-size: 1.3rem;
  color: var(--input-neutral);
  border-radius: 0.25rem;
  cursor: pointer;
}

.people-input-container {
  display: flex;
  flex-direction: column;
}

#people-num {
  background: url(./images/icon-person.svg) no-repeat;
  background-color: var(--input-background);
  background-position: 7px 7px;
}

.error-message {
  display: inline-flex;
  padding-left: 4rem;
  color: red;
  margin: 0;
}

.bill-error-message {
  display: inline-flex;
  color: red;
  margin: 0;
  padding-left: 5rem;
}

.error-border {
  border: 2px solid red;
}

.invalid-tip-error {
  color: red;
  margin: 0;
}

@media screen and (min-width: 760px) {

  .App {
    background-color: var(--main-background);
    height: 100vh;
    width: 100vw;
  }

  .logo-container {
    padding-top: 3rem;
  }

  .main-container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 1rem;
  }

  .user-input-container {
    position: initial;
    margin-bottom: 1.5rem;
    width: 50%;
    height: 100%;
  }

  .tip-input-container-mobile {
    display: none;
  }

  .tip-input-container-desktop {
    display: flex;
    flex-direction: column;
  }

  .top-row-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .bottom-row-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .bottom-row-container > input {
    min-width: 33.3%;
  }

  .tip-btn:hover {
    background-color: var(--input-selected);
    color: var(--input-neutral);
  }
}

@media screen and (min-width: 1000px){
  .main-container {
    
    max-width: 69%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
}

@media screen and (min-width: 1150px) {
  .main-container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1320px) {
  .main-container {
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1500px) {
  .main-container {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:1920px) {
  .main-container {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 2000px) {
  .main-container {
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media screen and (min-width: 2500px) {
  .main-container {
    max-width: 28%;
    margin-left: auto;
    margin-right: auto;
  }
  
}
